* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(./images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.flexcontainer {
    width: 310px;
    border-radius: 15px;
    overflow: hidden;
}

.orwelltext {
    color: rgb(209, 205, 205);
    background-color: rgba(0,0,0, 0.8);
    padding: 15px;
    text-align: center;
    font-size: x-large;
    
    font-family: 'Josefin Sans', sans-serif;
}

.buttondiv {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color:rgba(0,0,0, 0.8);
    padding: 35px;
}

#kissmarrykill {
    color:rgb(180, 231, 39);
}

.function {
    background-color: black;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
}